* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 1.6;
    background-color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 10;
    transition: background-color 0.5s ease;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: "Nunito", sans-serif;
}

#about {
    background-color: #111;
    transition: background-color 0.5s ease;
}

#skills {
    background-color: #222;
    transition: background-color 0.5s ease;
}

#contact {
    background-color: #111;
    transition: background-color 0.5s ease;
}

.container {
    max-width: 800px;
    text-align: left;
}



h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#stack{
    padding-left: 0.5em;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #00FFFF;
    text-decoration: none;
}

#skills.fade-in ul {
  opacity: 1;
  transform: translateX(0);
}

#skills.fade-in h1 {
  opacity: 1;
  transform: translateX(0);
}

#contact ul{
    list-style-type: none;
    margin-left: 0;
}

#contact.fade-in h1 {
  opacity: 1;
  transform: translateY(0);
}

#contact.fade-in ul {
  opacity: 1;
  transform: translateY(0);
}

#text-container {
  white-space: pre-line;
    padding: 10px;
}

.fad-in {
  opacity: 0;
}

#language-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s ease-in-out;
    font-family: "Nunito", sans-serif;
}

#language-toggle:hover {
    background: #555;
}

#theme-toggle{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.3s ease-in-out;
    font-family: "Nunito", sans-serif;
}

#theme-toggle:hover{
    background: #555;
}

.contact_links li{
    display: inline-block;
    padding-inline: 5px;
}

#contact_container{
    text-align: center;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.light-theme .menu {
    background-color: #969696;
}

.light-theme #about{
    background-color: #E0E0E0;
}
.light-theme #skills{
    background-color: #F5F5F5;
}
.light-theme #contact {
    background-color: #E0E0E0;
}
.light-theme #theme-toggle{
    background-color: #6c6c6c;
}
.light-theme #language-toggle{
    background-color: #6c6c6c;
}

#gh-logo, #cw-logo {
    transition: opacity 0.15s ease;
}

[data-lang-key] {
    transition: opacity 0.2s ease;
}
.hidden {
    opacity: 30%;
}

#h1_about_me {
    margin-bottom: 0;
}


